
@media only screen and (min-width: 1920px) and (max-width: 2200px) {

	.circle-shape {

		top: -79px;

	}

	.things-to-do-page-content-area::after {

		content: "";

		position: absolute;

		right: -70px;

		top: 25%;

		background: url(../images/lia.png);

		background-repeat: no-repeat;

		height: 200px;

		width: 200px;

		transform: translateY(-91%);

	}

}

@media only screen and (min-width: 1501px) and (max-width: 1600px) {

	/* home page */

	h1 {

		font-size: 50px;

		line-height: 60px;

	}

	.slide-title {

		font-size: 50px;

		line-height: 60px;

	}

	.resort-heading-content a h3 {

		line-height: 38px;

		font-size: 28px;

	}

	.latest-news-content h4 a {

		font-size: 18px;

		line-height: 28px;

		font-weight: 600;

	}

	.read-more-btn {

		font-size: 16px;

		font-weight: 500;

	}

	.theme-btn {

		padding: 9px 30px;

		font-size: 16px;

	}

}

/* Layout: Max 1500px. */

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

	.theme-btn {

		padding: 8px 30px;

		font-size: 16px;

	}

	/* fantasy kingdom page, water kingdom page */

	.breadcrum-wrapper > h2 {

		font-size: 50px;

		line-height: 62px;

	}

	.fantasy-park-search-item.float-right {

		margin-right: 30px;

	}

	.resort-heading-content a h3 {

		font-size: 26px;

	}

	.park-select-submit input {

		right: 0;

	}

	.fantasy-feature-shape:after {

		display: none;

	}

	.things-area {

		padding-top: 0;

	}

	.direction-shape:before {

		left: -33px;

		top: -169px;

		height: 300px;

		width: 300px;

		transform: translateX(-4%)scale(.7);

	}

	.magic-overlay:before {

		bottom: 128px;

		height: 250px;

		width: 250px;

		transform: scale(.9);

		right: -46px;

	}

	.section-title.mb-40.things-to-do-title {

		padding-top: 60px;

	}

	.discount-overlay:before {

		bottom: 100%;

	}

}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

	.top-select-btn input {

		right: 32px;

	}

}

@media only screen and (min-width: 1351px) and (max-width: 1499px) {

	/* ride page */

	.fantasy-gallery-area-ride:after {

		bottom: -44px;

		transform: scale(.9);

		right: -74px;

	}

	/* thing to do page */

	.things-to-do-page-content-area:before {

		left: -19px;

		transform: translateY(-85%)scale(.6);

	}

	.things-to-do-page-content-area:after {

		right: -74px;

		top: 22%;

		transform: translateY(-85%)scale(.7);

	}

}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {

	/* ride page */

	.fantasy-gallery-area-ride:after {

		top: auto;

		bottom: -44px;

		transform: scale(.6);

	}

	/* thing to  do page */

	.things-to-do-page-content-area:after {

		display: none;

	}

	.things-to-do-page-content-area:before {

		display: none;

	}

}

/* Layout: Min 992px Max 1199px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	p {

		font-size: 14px;

	}

	h2 {

		font-size: 30px;

		line-height: 40px;

	}

	.theme-btn {

		padding: 7px 32px;

		font-size: 16px;

	}

	.rox-header-menu .nav > li > a {

		padding: 36px 8px;

	}

	.rox-header-menu .nav > li > a {

		padding: 40px 6px;

		font-size: 14px;

	}

	/* home page */

	.resort-heading-content a h3 {

		font-size: 25px;

		line-height: 35px;

	}

	.single-things>a {

		font-size: 22px;

	}

	.direction-shape:before {

		display: none;

	}

	.section-title h2::before {

		bottom: 3px;

		height: 16px;

	}

	a.deals-shape-btn {

		border-bottom-right-radius: 63px;

	}

	.magic-picture:after {

		display: none;

	}

	.slide-title {

		font-size: 45px;

		line-height: 57px;

	}

	.latest-news-content h4 a {

		font-size: 17px;

	}

	.latest-news-content>a {

		font-size: 16px;

	}

	.single-discover-carousel:hover:before {

		height: 82%;

	}

	.magic-overlay:before {

		display: none;

	}

	.discover-area .owl-prev {

		position: absolute;

		margin-right: 20px;

		right: 63px;

		padding: 5px 20px;

		font-size: 20px;

		color: #ccc;

		transition: all .3s linear;

		top: -76px;

	}

	.discover-area .owl-next {

		padding: 5px 20px;

		background: #E50019;

		color: #fff;

		font-size: 20px;

		border-top-left-radius: 20px;

		border-bottom-left-radius: 10px;

		border-bottom-right-radius: 20px;

		border-top-right-radius: 10px;

		top: -76px;

		right: 20px;

		position: absolute;

	}

	/* fantasy kingdom page , water kingdom page */

	.breadcrum-wrapper > h2 {

		font-size: 40px;

		line-height: 53px;

	}

	.fantasy-park-search-item.float-right {

		margin-right: 30px;

	}

	.park-select-submit input {

		right: 0;

	}

	.fantasy-feature-shape:after {

		display: none;

	}

	.fantasy-feature-about-area {

		padding-bottom: 0;

	}

	.nice-select.fantasy-nice-select {

		margin-right: 55px;

	}

	.discount-overlay:before {

		bottom: 100%;

	}

	/* ride page */

	.fantasy-gallery-area-ride:after {

		right: 0;

		bottom: -43px;

		transform: scale(.6);

		top: auto;

	}

	/* checkoutt page */

	.checkout-page-content>.circle-shape {

		top: 340px;

		width: 100%;

	}

	/* thing to do page */

	.things-to-do-page-content-area:after {

		display: none;

	}

}

/* Large Layout: 991px. */

@media only screen and (min-width: 992px) {

	.rox-header-menu .nav {

		display: block;

	}

	.rox-header-menu .nav > li {

		display: inline-block;

		position: relative;

	}

	.header-inner > .header-action > div {

		margin-left: 40px;

	}

	.rox-header-menu .main-menu {

		display: inline-block !important;

	}

	.header-sticky.sticky .rox-header-menu .nav > li > a {

		padding-top: 25px;

		padding-bottom: 25px;

	}

}

/* Medium Layout: 991px. */

@media only screen and (max-width: 991px) {

	.header-inner > div {

		margin-left: 0;

	}

	.mean-container .mean-nav > ul::-webkit-scrollbar {

		width: 16px;

	}

	.mean-container .mean-nav > ul::-webkit-scrollbar-track {

		-webkit-box-shadow: inset 0 0 4px #444;

	}

	.mean-container .mean-nav > ul::-webkit-scrollbar-thumb {

		background-color: #87C3FF;

		outline: 1px solid #87C3FF;

	}

	.mean-container .mean-bar {

		float: none !important;

	}

	.rox-header-menu .mean-container .mean-nav ul > li:hover > a {

		color: #87C3FF;

	}

	.header-inner > .header-action > div {

		margin-left: 20px;

	}

	.rox-header.sticky .mean-container .mean-nav {

		margin-top: 33px;

	}

	.mean-container .mean-nav ul li a {

		padding: 9px 10px;

	}

	.mean-container a.meanmenu-reveal {

		width: 26px;

		height: 22px;

		position: absolute;

		top: 0px;

		right: 13px;

		text-align: right;

		cursor: pointer;

		color: #3a3a3a;

		text-decoration: none;

		font-size: 16px;

		display: block;

		font-weight: 700;

		z-index: 99999999999999;

	}

	.rox-header-menu {

		border-bottom: none;

		padding-bottom: 38px;

		padding-top: 25px;

	}

	.rox-logo {

		max-width: 172px;

		position: absolute;

		top: 0;

	}

	.mean-container a.meanmenu-reveal span {

		background: #000;

	}

	.mean-container a.meanmenu-reveal.meanclose {

		top: 0px;

	}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/* home page */

	p {

		font-size: 14px;

	}

	h2 {

		font-size: 26px;

		line-height: 38px;

	}

	h3 {

		font-size: 25px;

		line-height: 35px;

	}

	.theme-btn {

		padding: 7px 40px;

		font-size: 14px;

	}

	.breadcrum-wrapper > h2 {

		font-size: 45px;

		line-height: 59px;

	}

	/* responsive menu */

	.mean-container a.meanmenu-reveal {

		top: -66px;

		right: 0;

	}

	.mean-container .mean-nav ul li a {

		border-top: none;

	}

	.mean-container a.meanmenu-reveal span {

		background: #000;

	}

	.rox-header-menu.header-sticky.sticky .mean-container a.meanmenu-reveal span {

		background: #3a3a3a !important;

	}

	.rox-header-menu {

		border-bottom: none;

	}

	.mean-container .mean-nav {

		margin-top: 53px;

	}

	.section-padding {

		padding: 70px 0;

	}

	.rox-header-menu.sticky .nav > li > a {

		color: #fff;

	}

	.rox-header-menu {

		padding: 40px 0;

	}

	.mean-container a.meanmenu-reveal {

		top: -10px;

		right: 0;

	}

	.single-news {

		margin-bottom: 23px;

	}

	.magic-picture:after {

		display: none;

	}

	.single-linked {

		margin-bottom: 40px;

	}

	.direction-content {

		margin-bottom: 40px;

	}

	.circle-shape {

		display: none;

	}

	.slide-title {

		font-size: 40px;

		line-height: 55px;

	}

	.direction-shape:before {

		display: none;

	}

	.section-title h2::before {

		bottom: 0;

		height: 17px;

	}

	.discover-area .owl-nav {

		position: absolute;

		margin-top: 16px;

	}

	.resort-heading-content a h3 {

		font-size: 25px;

		line-height: 35px;

	}

	.widget-content>img {

		max-width: 200px;

	}

	.latest-news-content h4 a {

		font-size: 16px;

	}

	.latest-news-content>a {

		font-size: 16px;

	}

	.widget-content h4 {

		font-size: 15px;

	}

	.magic-overlay:before {

		display: none;

	}

	a.deals-shape-btn {

		border-bottom-right-radius: 43px;

	}

	/* fantasy kingdom page , water kingdom page */

	.park-select-submit input {

		right: 0px;

	}

	.fantasy-park-search-item {

		margin-right: 30px;

	}

	.fantasy-feature-shape:after {

		display: none;

	}

	.single-direction-map>a>svg {

		height: 30px;

		width: 30px;

	}

	.single-direction-map>a>span {

		font-size: 14px;

	}

	.single-direction-map>a>i {

		height: 30px;

		width: 30px;

		font-size: 30px;

	}

	.footer-bottom-area {

		padding-top: 10px;

	}

	.discount-overlay:before {

		display: none;

	}

	.nice-select.fantasy-nice-select {

		margin-right: 56px;

	}

	/* ride page */

	.fantasy-gallery-area-ride:after {

		bottom: -44px;

		top: initial;

		right: 0;

		transform: scale(0.4);

	}

	/* tickets page */

	h4.total-price-widget {

		text-align: center;

	}

	/* checkout page */

	.checkout-page-order-summary-wrapper {

		padding: 20px 15px;

	}

	.checkout-page-content>.circle-shape {

		top: 340px;

		width: 100%;

	}

	/* thing to do page */

	.things-to-do-page-content-area:after {

		display: none;

	}

}

/* Mobile Layout: 767px. */

@media only screen and (min-width: 320px) and (max-width: 767px) {

	p {

		font-size: 14px;

	}

	h2 {

		font-size: 26px;

		line-height: 36px;

	}

	.page-title h3 {

		font-size: 20px;

	}

	.section-padding {

		padding: 70px 0;

	}

	.short-section-padding {

		padding: 40px 0;

	}

	.section-padding-bottom {

		padding-bottom: 40px;

	}

	.mean-container .mean-nav ul li a {

		border-top: none;

	}

	.mean-container a.meanmenu-reveal span {

		background: #000;

	}

	.rox-header-menu.header-sticky.sticky .mean-container a.meanmenu-reveal span {

		background: #3a3a3a !important;

	}

	.slider-start::after {

		display: none;

	}

	.mean-container .mean-nav {

		position: absolute;

		width: 100%;

		background: #0c1923;

		margin-top: 51px;

		z-index: 99;

	}

	.single-discover-carousel {

		margin: 0 15px;

	}

	.rox-header-menu.header-sticky.sticky .mean-container .mean-nav ul li a {

		color: #fff;

	}

	.rox-header-menu.header-sticky.sticky .mean-container .mean-nav ul li a:hover {

		color: #87C3FF;

	}

	h4 {

		font-size: 15px;

		line-height: 24px;

	}

	h5 {

		font-size: 15px;

		line-height: 24px;

	}

	/* home page */

	.slide-title {

		font-size: 25px;

		line-height: 35px;

	}

	.theme-btn {

		padding: 7px 27px;

		font-size: 14px;

	}

	.section-title h2 {

		font-size: 20px;

		line-height: 30px;

	}

	.single-linked {

		margin-bottom: 50px;

	}

	.resort-heading-content a h3 {

		font-size: 26px;

	}

	.discover-area .owl-next {

		padding: 2px 20px;

		background: #E50019;

		position: absolute;

		bottom: -48px;

		left: 50%;

		transform: translateX(-50%);

	}

	.circle-shape {

		display: none;

	}

	.direction-area {

		padding: 35px 0;

		padding-bottom: 0;

	}

	.direction-content a > svg {

		height: 60px;

		width: 60px;

	}

	.direact-content-col {

		float: left;

		width: 25%;

	}

	.discover-area .owl-prev {

		display: none;

	}

	.single-things>a {

		font-size: 16px;

	}

	.single-discover-carousel:hover .resorts-linked-btn {

		width: 100%;

	}

	.direction-content h4 {

		font-size: 12px;

	}

	.direction-shape:before {

		display: none;

	}

	.direction-content {

		margin-bottom: 50px;

	}

	a.deals-shape-btn {

		border-bottom-right-radius: 30px;

	}

	.show-all-content-area.text-right {

		text-align: left !important;

	}

	.view-all-blog-post.text-center.mt-5 {

		margin-top: 0 !important;

	}

	.things-to-do-title {

		margin-bottom: 0;

		padding-bottom: 4px !important;

	}

	.show-all-content-area a {

		display: inherit;

		margin-bottom: 15px;

	}

	.magic-picture:after {

		display: none;

	}

	.single-discover-carousel:hover:before {

		display: none;

	}

	.single-discover-carousel:after {

		left: 0;

		right: 0;

		width: auto;

	}

	.section-title h2::before {

		height: 10px;

		bottom: 4px;

	}

	.submit-btn-field button {

		position: absolute;

		right: 0;

		padding: 0 10px;

	}

	.latest-news-content>a {

		font-size: 15px;

	}

	.single-news {

		margin-bottom: 50px;

	}

	.widget-content h4 {

		margin-bottom: 17px;

	}

	.widget-wrapper {

		margin-top: 50px;

	}

	a.nav-link.shopping-cart-btn span {

		top: 0px;

		left: 25px;

	}

	.short-section-title h3 {

		font-size: 21px;

	}

	.submit-btn {

		padding: 11px 23px;

		font-size: 16px;

	}

	.widget-content>img {

		max-width: 300px;

	}

	.magic-overlay:before {

		display: none;

	}

	.breadcrum-wrapper > h2 {

		font-size: 20px;

		line-height: 30px;

	}

	/* fantasy kindom page, water kingdom page */

	.nice-select.fantasy-nice-select {

		margin-right: 0;

	}

	.park-select-submit input {

		width: 100%;

	}

	.park-select-submit input {

		position: relative;

		margin-top: 15px;

		padding: 10px 20px;

		right: 0;

		border-radius: 13px;

	}

	.single-fantasy-park-search {

		margin-top: 30px;

	}

	.fantasy-about-content {

		margin-bottom: 30px;

	}

	.fantasy-feature-shape:after {

		display: none;

	}

	.see-timing>span {

		font-size: 14px;

	}

	.top-content-about-open>span {

		font-size: 14px;

	}

	.top-content-about-open>h4 {

		font-size: 14px;

	}

	.discount-overlay:before {

		display: none;

	}

	.single-direction-map {

		width: calc(50% - 16px);

		margin-top: 25px;

	}

	.ex-video-icon a.exp-play-btn {

		height: 40px;

		width: 40px;

	}

	.ex-video-icon a.exp-play-btn i {

		font-size: 17px;

		line-height: 40px;

		padding-left: 0;

	}

	.fantasy-hotel-table-content {

		margin-top: 30px;

	}

	.card.faq-inner-content {

		padding: 15px;

	}

	.faq-inner-content .card-header a {

		font-size: 18px;

	}

	a.project-gallery.popup>img {

		width: 100%;

	}

	.fantasy-park-search-item.float-right {

		float: left !important;

	}

	/* ride page */

	.fantasy-gallery-area-ride:after {

		display: none;

	}

	/* tickets page */

	.page-breadcrum-area {

		display: block;

	}

	.ticket-prodcut-padding {

		padding: 10px 10px;

	}

	.product-increment-decrement {

		display: block;

	}

	.single-product-increment-decrement {

		width: 100%;

	}

	.disable-payment-btn {

		font-size: 14px;

		padding: 6px 15px;

	}

	.details-ancor {

		font-size: 14px;

	}

	h4.product-price {

		font-size: 15px;

		font-weight: 500;

	}

	/* checkout page */

	.single-order-content {

		display: block;

	}

	.product-total-order-price>span {

		margin-left: 30px;

		margin-top: 12px;

		display: inline-block;

	}

	/* thing to do page */

	.single-thing-to-do-content {

		margin-right: 15px;

		margin-left: 15px;

	}

	.things-to-do-page-content-area:after {

		display: none;

	}

	.single-thing-to-do-content>a>img {

		width: 100%;

	}

}

/* Small Device : 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	/* home page */

	.slide-title {

		font-size: 28px;

		line-height: 38px;

	}

	.section-title h2 {

		font-size: 25px;

		line-height: 35px;

	}

	.submit-btn-field button {

		position: absolute;

		right: 0;

		top: 0;

		text-align: right;

		left: auto;

		padding: 15px 30px;

	}

	.single-news>a>img {

		width: 100%;

	}

	.theme-btn {

		padding: 7px 30px;

		font-size: 14px;

	}

	.widget-content>img {

		max-width: 300px;

	}

	/* fantasy kindom page , water kingdom page */

	.park-select-submit input {

		width: inherit;

	}

	.fantasy-park-search-item.float-right {

		float: left !important;

	}

	.park-select-submit input {

		position: absolute;

		margin-top: 15px;

		right: 10px;

		border-radius: 13px;

		top: 13px;

		height: 66px;

	}

	.section-title.mb-40.things-to-do-title {

		margin-top: 50px;

		margin-bottom: 0;

	}

	.breadcrum-wrapper > h2 {

		font-size: 25px;

		line-height: 38px;

	}

	/* tickets page */

	.ticket-prodcut-padding {

		padding: 20px 15px;

	}

	h4.ticket-name {

		margin-bottom: 20px;

		font-size: 16px;

	}

	h4.total-price-widget {

		text-align: center;

	}

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

	h2 {

		font-size: 30px;

		line-height: 40px;

	}

	.single-news>a>img {

		width: 100%;

	}

	.widget-content>img {

		max-width: 300px;

	}

	/* fantasy kingdom page, water kingdom page */

	.ex-video-icon a.exp-play-btn {

		height: 60px;

		width: 60px;

	}

	.ex-video-icon a.exp-play-btn i {

		font-size: 25px;

		line-height: 60px;

		padding-left: 0;

	}

	.things-area {

		padding-top: 0 !important;

	}

	.submit-btn-field button {

		right: 0;

		padding: 15px 30px;

	}

	/* fantasy kingdom , water kingdom page */

	.breadcrum-wrapper > h2 {

		font-size: 30px;

		line-height: 43px;

	}

}

/* Small Device : 480px. */

@media only screen and (max-width: 480px) {

	.header-inner > div {

		margin-left: 0;

		right: auto;

		left: 0;

	}

}