.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.experience-area iframe {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.experience-area .experiencebg:after {
    display: none;
}

ul.list li.option a {
    color: #000;
    display: block;
}

.nice-select .option:hover a {
    color: #fff;
}

.nice-select .option.selected.focus {
    color: #fff;
}

h4.product-price {
    margin-left: -15px;
}

.modal-body.ticket-body-modal-content {
    padding: 10px 30px 30px 30px;
}

.ticket-widget-content-inner {
    padding: 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.link-btn {
    cursor: pointer;
}

.things-to-do-img {
    width: 100%;
    height: 226px;
}

.react-datepicker-wrapper {
    width: 100%;
}

body.swal2-toast-shown .swal2-container.swal2-top-end {
    z-index: 999999 !important;
}